<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>Desafio Fullstack</title>

    <!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@1.5.14/dist/vuetify.min.js"></script>
</head>

<body>

    <!-- Our application root element -->
    <div id="menu">
        <div>
            <b-navbar toggleable="lg" type="dark" variant="info">
                <b-navbar-brand href="http://localhost:81/Web/admin">Menu</b-navbar-brand>

                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav>
                        <b-nav-item href="http://localhost:81/Web/admin/cadastro">Cadastro</b-nav-item>
                        <b-nav-item href="http://localhost:81/Web/admin/relatorio">Relatorio</b-nav-item>
                    </b-navbar-nav>
                    <b-navbar-nav class="ml-auto">
                        <b-nav-item-dropdown right>
                            <!-- Using 'button-content' slot -->
                            <template slot="button-content">
                                {{ user }}
                            </template>
                            <b-dropdown-item @click="logout()">Logout</b-dropdown-item>
                        </b-nav-item-dropdown>

                    </b-navbar-nav>
                </b-collapse>
            </b-navbar>
        </div>
    </div>
    <div class="container">
        <div style="margin-bottom: 40px;"></div>

        <script>
            this.menu = new Vue({
                el: '#menu',
                data: {
                    user: localStorage.user
                },
                beforeCreate() {
                    console.log(localStorage.BasicToken)
                    if (localStorage.BasicToken == 'null' || localStorage.BasicToken == '') {
                        window.location.href = "http://localhost:81/Web/admin/login";
                    }
                    this.user = localStorage.user;
                },
                methods: {
                    logout() {
                        localStorage.BasicToken = null;
                        window.location.href = "http://localhost:81/Web/admin/login";
                    }
                },
            });
        </script>